<!DOCTYPE html>
<html>
  <head>
    <title>API Virtus Bank</title>
    <style>
      body {
        font-family: sans-serif;
      }
      h1 {
        text-align: center;
      }
      .container {
        width: 80%;
        margin: 0 auto;
      }
      .swagger-link {
        display: block;
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Bem-vindo à API Virtus Bank!</h1>

      <p>
        API de exemplo de pseudotransações PIX de conteúdo educativo<br />
        <strong>Desenvolvedor:</strong> João Carlos Chavatte<br />
        <strong>Email:</strong> chavatte@duck.com<br />
        <strong>URL:</strong>
        <a href="https://chavatte.42web.io/"
          >https://chavatte.42web.io/</a
        >
      </p>
        <strong>Frontend:</strong>
        <a href="https://virtusbank.vercel.app/"
          >https://virtusbank.vercel.app/</a
        >
      </p>

      <h2>Endpoints disponíveis:</h2>
      <ul>
        <li>Autenticação (login e cadastro)</li>
        <li>Gerenciamento de usuários</li>
        <li>Operações com Pix</li>
      </ul>

      <a class="swagger-link" href="/virtusbank/docs"
        >Acesse a documentação completa da API (Swagger)</a
      >
    </div>
  </body>
</html>
